{% extends 'gradingapp/templates/base.html' %}

{% block content %}
<h1>
  LOGIN
</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method=POST>
  {% csrf_token %}
    <!-- Username input -->
    <div class="form-outline mb-4">
      <input type="text" name="username" class="form-control" />
      <label class="form-label" for="form2Example1">Username</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" name="github_access_token" class="form-control" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <!-- Submit button -->
    <input type="submit" class="btn btn-primary btn-block mb-4" value="Submit">
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="{% url 'members:register_user' %}">Register</a></p>
        </form>
  </html>
  {% endblock %}